@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid($columnsNumber) {
    display: grid;
    grid-template-columns: repeat($columnsNumber, 1fr);
}

$blue: #0437F2; // Accent color
$textColor: black;
$textColor2: rgb(111, 111, 111);
$backgroundColor: #f1f4ff;
$padding: 10px;
$borderRadius: 10px;
$gap: 10px;
$titleSize: 2.5rem;
$subtitleSize: 1.5rem;
$text: 1rem;
$smallText: 0.8rem;
$iconSize: 1.25rem;
$inputTextSize: 1.25rem;
$minWidth: 250px;

$box-shadow: 0 5px 15px #0438f211;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}


i {
    font-size: $iconSize;
}

.input,
.image-input,
.button {
    padding: $padding;
    background-color: $backgroundColor;
    border: 1px solid $backgroundColor;
    outline: none;
    transition: border-color 0.15s ease-in;
    border-radius: $borderRadius;
    font-size: $inputTextSize;
    min-width: $minWidth;

    &:focus {
        border: 1px solid $blue;
    }

    input {
        display: none;
    }
}

.image-input {
    transition: box-shadow 0.15s ease-in;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 5px $blue;
    }

    label {
        @include flex(row, center, center);
        gap: $gap;
        font-size: $inputTextSize;
        cursor: pointer;
    }
}

.row-box {
    @include grid(3);
    gap: $gap;
    border-radius: $borderRadius;
    padding: $padding;
    background-color: $backgroundColor;

    p {
        font-size: 1.25rem;
    }
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid $blue;
    overflow: hidden;

    &:hover {
        img {
            transform: scale(1.1);
        }
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.15s ease-in;
    }
}

.button {
    background-color: $blue;
    color: white;
    @include flex(row, center, center);
    gap: $gap;
    font-size: $inputTextSize;
    cursor: pointer;
    border: 1px solid $blue;
    transition: all 0.15s ease-in;

    &:hover {
        background-color: white;
        color: $blue;
    }
}

// TRISTAN ASSETS

// main index tristan
main {
    height: 100vh;
    width: 100vw;

    .search-load {
        padding: $padding;
        height: 100%;
        width: 100%;
        @include flex(column, center, center);
        gap: $gap;

        h1 {
            width: 100%;
            font-size: $titleSize;
            text-align: center
        }

        form {
            @include flex(row, center, center);
            background-color: $backgroundColor;
            padding: $padding;
            border-radius: $borderRadius;

            .form-group {
                @include flex(row, center, center);
                background-color: $backgroundColor;
                gap: $gap;

                i {
                    font-size: $subtitleSize;
                    color: $blue;
                }

                input {
                    border: none;
                    outline: none;
                    min-width: 500px;
                    font-size: $text;
                    border-radius: $borderRadius;
                    background: none;
                    font-size: $subtitleSize;
                }
            }

            button {
                height: 50px;
                width: 50px;
                border-radius: $borderRadius;
                background-color: $blue;
                border: none;
                cursor: pointer;
                color: white;
                @include flex(row, center, center);

                i {
                    font-size: $iconSize;
                }
            }
        }
    }
}

// main index tristan finish

// provider-users-list.html  start g

#provider-div {
    @include flex(column, center, center);
    gap: calc($gap + 10px);
    margin-top: 40px;

    #provider-heading-f {
        @include flex(column, center, center);
        gap: calc($gap + 20px);

        h1 {
            font-size: $titleSize;
        }

        #provider-filters {
            @include flex(row, space-between, flex-start);
            padding: calc($padding + 10px);
            width: 100%;
            gap: $gap;
            border-radius: $borderRadius;
            box-shadow: $box-shadow;
            border: 2px solid $backgroundColor;

            form {
                @include flex(column, flex-start, flex-start);
                gap: $gap;

                option {
                    font-size: calc($text + 3px);
                }

                #buttons {
                    @include flex(row, center, center);
                    gap: $gap;
                }
            }
        }
    }

    .list {
        @include flex(column, center, center);
        gap: calc($gap + 5px);
        width: 1050px;

        .provider-user {
            display: grid;
            grid-template-columns: repeat(4, 320px 300px 300px 80px);
            align-items: center;
            gap: $gap;
            width: 100%;
            border-radius: $borderRadius;
            border: 2px solid $backgroundColor;
            box-shadow: $box-shadow;
            padding: $padding;
            background-color: white;

            .avatar-name {
                @include flex(row, flex-start, center);
                gap: calc($gap + 10px);

                .avatar {
                    width: 50px;
                    height: 50px;
                    border: 1px solid $blue;
                    border-radius: 100%;
                    overflow: hidden;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        transition: transform 0.15s ease-in;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }

                h2 {
                    font-size: calc($text + 8px);
                }
            }

            .provider-data {
                width: 300px;

                p {
                    font-size: calc($text + 6px);
                }
            }

            .action-buttons {
                @include flex(row, center, center);
                gap: calc($gap + 10px);

                a {
                    text-decoration: none;
                    color: $blue;

                    i {
                        font-size: $iconSize;
                        cursor: pointer;
                    }
                }

                button {
                    height: 40px;
                    width: 40px;
                    border-radius: 100%;
                    background-color: white;
                    border: none;
                    cursor: pointer;
                    color: $blue;
                    @include flex(row, center, center);
                    transition: all 0.15s ease-in-out;
                    border: 2px solid $blue;

                    i {
                        font-size: $iconSize;
                    }

                    &:hover {
                        border: 2px solid $blue;
                        background-color: $blue;
                        color: white;
                    }
                }
            }
        }
    }

    // pop-up georgeXdev start
    #pop-up {
        width: 800px;
        background-color: white;
        padding: calc($padding + 15px);
        border-radius: $borderRadius;
        position: absolute;
        box-shadow: $box-shadow;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid $backgroundColor;

        #popup-all {
            @include flex(column, center, flex-end);
            gap: $gap;

            button {
                padding: calc($padding - 2px) $padding;
                border-radius: $borderRadius;
                background-color: white;
                cursor: pointer;
                color: $blue;
                transition: all 0.15s ease-in-out;
                border: 2px solid $blue;

                i {
                    font-size: $iconSize;
                }

                &:hover {
                    background-color: $blue;
                    color: white;
                }
            }

            #popup-content {
                @include flex(row, center, flex-start);
                gap: calc($gap * 2);

                img {
                    border-radius: $borderRadius;
                }

                #text-content {
                    @include flex(column, space-between, flex-start);
                    gap: calc($gap + 10px);

                    h2 {
                        font-size: calc($titleSize + 4px);
                        font-weight: 500;
                    }

                    a {
                        text-decoration: none;
                        font-size: $subtitleSize;
                        color: #303133;

                        i {
                            color: $blue;
                            font-size: $subtitleSize;
                        }
                    }

                    p {
                        font-size: calc($text + 6px);
                    }
                }
            }
        }
    }
}









// create.html start m
#main-create {
    @include flex(column, center, center);
    gap: $gap;
    width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;

    h1 {
        font-size: $titleSize;
    }

    #form-create {
        @include flex(column, center, center);
        gap: calc($gap * 3);
        width: max-content;
        padding: calc($padding * 3);
        border-radius: $borderRadius;
        box-shadow: $box-shadow;

        #form-inside-row {
            @include flex(row, center, center);
            gap: calc($gap * 2);

            #upload-image-div {
                @include flex(column, flex-end, center);
                height: 100%;
                gap: calc($gap * 2);

                #tipa-image {
                    @include flex(row, center, center);
                    height: 100%;
                    width: 100%;
                    border-radius: $borderRadius;
                    background-color: $backgroundColor;

                    p {
                        font-size: $subtitleSize;
                    }
                }
            }

            #inputs {
                @include flex(column, center, center);
                gap: calc($gap * 2);
            }
        }
    }
}

// responsive read.html m start
@media (max-width: 650px) {
    #form-create {
        width: 100% !important;
        height: 100%;
        box-shadow: none;
    }

    #form-inside-row {
        @include flex(column !important, center, center);
    }

    #upload-image-div {
        height: 230px !important;
    }
}

@media (max-height: 700px) {
    #main-create {
        height: 900px;
    }
}

// responsive create.html m end
// create.html end m

// read.html furnizor-users start georgeXdev


#read {
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 50px;

    #main-account {
        width: 1300px;
        margin: auto;
        @include flex(row, space-between, flex-start);
        height: fit-content;
        overflow-x: visible;
        background-color: white;
        border-radius: 10px;
        padding: calc($padding + 30px);
        border: 1px solid #dde0ff;
        box-shadow: $box-shadow;


        #profile-management {
            @include flex(column, flex-start, center);
            gap: calc($gap + 10px);


            #profile-avatar {
                @include flex(column, center, center);
                gap: calc($gap + 20px);

                h1 {
                    color: #010C32;
                    font-weight: 500;
                    font-size: calc($text + 4px);
                }

                .avatar {
                    @include flex(column, flex-start, flex-start);
                }

                #profile-avatar-text {
                    @include flex(column, center, center);
                    gap: 2px;

                    h2 {
                        font-size: calc($subtitleSize + 2px);
                        font-weight: 600;
                        color: $blue;
                    }

                    h3 {
                        font-size: 1.4rem;
                        font-weight: 400;
                        letter-spacing: -0.5px;
                    }
                }
            }

            .profile-view {
                @include flex(column, center, center);
                margin: auto;

                #square {
                    margin: auto;
                    @include flex(column, center, center);
                    gap: calc($gap + 5px);

                    #text-content {
                        @include flex(column, space-between, flex-start);
                        gap: calc($gap + 10px);
                        margin: auto;



                        a {
                            width: 110%;
                            margin: auto;
                            text-decoration: none;
                            padding: 10px 0;
                            background-color: #E6EBFF;
                            color: #032396;
                            font-size: calc($text + 6px);
                            border-radius: $borderRadius;
                            font-weight: normal;
                            @include flex(row, center, center);
                            gap: calc($gap - 2px);

                            i {
                                font-size: calc($iconSize + 6px);
                            }
                        }
                    }

                    #delete {
                        background-color: white;
                        color: #032396;
                        // border: 1px solid #032396;
                        border: none;
                        font-weight: 700;
                        @include flex(row, center, center);
                        gap: $gap;
                        border-radius: $borderRadius;
                        font-size: $inputTextSize;
                        cursor: pointer;
                        width: 100%;
                        padding: 10px 0;
                        align-self: center;
                        outline: none;

                        transition: all 0.15s ease-in;

                        &:hover {
                            color: #010C32;
                        }
                    }
                }
            }
        }


        #confirm-delete-popup {
            display: none;
            position: fixed;
            background-color: #0000007c;
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            // display: flex;

            .delete-popup-content {
                @include flex(column, center, center);
                margin: auto;
                align-self: center;
                width: fit-content;
                height: fit-content;
                border-radius: $borderRadius;
                padding: calc($padding + 20px);
                background: #E6EBFF;
                gap: calc($gap + 8px);


                p {
                    font-size: calc($text + 6px);
                }

                #confirm-buttons {
                    width: 100%;
                    @include flex(row, space-around, center);

                    #confirm-yes {
                        background: none;
                        outline: none;
                        border: none;
                        font-size: $inputTextSize;
                        color: #032396;
                        font-weight: bold;
                        cursor: pointer;

                        &:hover {
                            color: #010C32;
                        }
                    }

                    #confirm-no {
                        padding: 12px 32px;
                        border-radius: $borderRadius;
                        background-color: $blue;
                        border: none;
                        outline: none;
                        color: white;
                        font-weight: bold;
                        font-size: $inputTextSize;
                        cursor: pointer;
                    }
                }
            }
        }

        // read.html LOADS Available

        #loads-available {
            // width: 600px;
            @include flex(column, center, center);
            gap: calc($gap + 6px);

            h1 {
                color: #010C32;
                font-weight: 500;
                font-size: calc($text + 4px);
            }

            #load-card {
                width: 600px;
                @include flex(row, space-around, center);
                padding: 14px 10px;
                border: 1px solid #E6EBFF;
                border-radius: $borderRadius;
                box-shadow: $box-shadow;

                h1,
                h2,
                h3,
                h4,
                h5,
                i {
                    font-weight: normal;
                    font-size: 1.6rem;
                }

                button {
                    background: none;
                    border: none;
                    cursor: pointer;
                    transition: all .2s ease-in-out;

                    &:hover {
                        scale: 1.2;
                        color: red;
                    }
                }
            }
        }

        #update-delete {
            @include flex(column, center, flex-start);
            gap: $gap;

            h2 {
                font-size: calc($text + 6px);
            }


            #form-read {
                @include flex(column, center, flex-start);
                // border: 1px solid red;
                gap: 30px;

                // comit evenining
                #form-read-inputs {
                    @include flex(column, center, center);
                    gap: calc($gap + 10px);
                    transition-delay: 0.25s;
                    transition: all 0.5s ease-in-out;
                    // border: 1px solid blue;
                    margin-bottom: 15px;

                    .basic {
                        @include flex(column, center, center);
                        gap: $gap;

                        h2 {
                            color: #010C32;
                            font-weight: 500;
                            font-size: calc($text + 4px);
                        }
                    }

                    .about {
                        @include flex(column, center, center);
                        gap: $gap;

                        h2 {
                            color: #010C32;
                            font-weight: 500;
                            font-size: calc($text + 4px);
                        }
                    }

                    .security {
                        @include flex(column, center, center);
                        gap: $gap;

                        h2 {
                            color: #010C32;
                            font-weight: 500;
                            font-size: calc($text + 4px);
                        }
                    }

                }




                #quick-actions {
                    @include flex(column, center, center);
                    gap: $gap;

                    #save {
                        background-color: $blue;
                        font-weight: 700;
                        color: white;
                        @include flex(row, center, center);
                        border-radius: $borderRadius;
                        font-size: $inputTextSize;
                        cursor: pointer;
                        border: 1px solid $blue;
                        padding: 10px 0px;
                        outline: none;
                        width: 100%;
                        transition: all 0.15s ease-in;
                    }

                    #cancel {
                        background-color: #E6EBFF;
                        color: $blue;
                        @include flex(row, center, center);
                        border-radius: $borderRadius;
                        font-size: $inputTextSize;
                        font-weight: 700;
                        cursor: pointer;
                        padding: 10px 0;
                        border: none;
                        width: 100%;
                        outline: none;

                        transition: all 0.15s ease-in;

                        &:hover {}
                    }
                }


            }




        }
    }
}

// Read.html => finish gDEV