@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid($columnsNumber) {
    display: grid;
    grid-template-columns: repeat($columnsNumber, 1fr);
}

$blue: #0437F2; // Accent color
$textColor: black;
$textColor2: rgb(111, 111, 111);
$backgroundColor: #f1f4ff;
$padding: 10px;
$borderRadius: 10px;
$gap: 10px;
$titleSize: 2.5rem;
$subtitleSize: 1.5rem;
$text: 1rem;
$smallText: 0.8rem;
$iconSize: 1.25rem;
$inputTextSize: 1.25rem;
$minWidth: 250px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}


i {
    font-size: $iconSize;
}

.input,
.image-input,
.button {
    padding: $padding;
    background-color: $backgroundColor;
    border: 1px solid $backgroundColor;
    outline: none;
    transition: border-color 0.15s ease-in;
    border-radius: $borderRadius;
    font-size: $inputTextSize;
    min-width: $minWidth;

    &:focus {
        border: 1px solid $blue;
    }

    input {
        display: none;
    }
}

.image-input {
    transition: box-shadow 0.15s ease-in;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 5px $blue;
    }

    label {
        @include flex(row, center, center);
        gap: $gap;
        font-size: $inputTextSize;
        cursor: pointer;
    }
}

.row-box {
    @include grid(3);
    gap: $gap;
    border-radius: $borderRadius;
    padding: $padding;
    background-color: $backgroundColor;

    p {
        font-size: 1.25rem;
    }
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid $blue;
    overflow: hidden;

    &:hover {
        img {
            transform: scale(1.1);
        }
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.15s ease-in;
    }
}

.button {
    background-color: $blue;
    color: white;
    @include flex(row, center, center);
    gap: $gap;
    font-size: $inputTextSize;
    cursor: pointer;
    border: 1px solid $blue;
    transition: all 0.15s ease-in;

    &:hover {
        background-color: white;
        color: $blue;
    }
}

// TRISTAN ASSETS

// main index tristan
main {
    height: 100vh;
    width: 100vw;

    .search-load {
        padding: $padding;
        height: 100%;
        width: 100%;
        @include flex(column, center, center);
        gap: $gap;

        h1 {
            width: 100%;
            font-size: $titleSize;
            text-align: center
        }

        form {
            @include flex(row, center, center);
            background-color: $backgroundColor;
            padding: $padding;
            border-radius: $borderRadius;

            .form-group {
                @include flex(row, center, center);
                background-color: $backgroundColor;
                gap: $gap;

                i {
                    font-size: $subtitleSize;
                    color: $blue;
                }

                input {
                    border: none;
                    outline: none;
                    min-width: 500px;
                    font-size: $text;
                    border-radius: $borderRadius;
                    background: none;
                    font-size: $subtitleSize;
                }
            }

            button {
                height: 50px;
                width: 50px;
                border-radius: $borderRadius;
                background-color: $blue;
                border: none;
                cursor: pointer;
                color: white;
                @include flex(row, center, center);

                i {
                    font-size: $iconSize;
                }
            }
        }
    }
}

// main index tristan finish

// provider-users-list.html  start g

#provider-div {
    @include flex(column, center, center);
    gap: calc($gap + 10px);
    margin-top: 40px;

    .heading {
        @include flex(column, center, center);
        gap: calc($gap + 20px);

        h1 {
            font-size: $titleSize;
        }

        .form-group {
            @include flex(row, center, center);
            background-color: $backgroundColor;
            padding: $padding;
            border-radius: $borderRadius;
            width: fit-content;
            margin: auto;
            box-shadow: 0 0 15px hsla(226, 100%, 50%, 0.158);

            input {
                border: none;
                outline: none;
                min-width: 500px;
                font-size: $text;
                padding-left: 6px;
                border-radius: $borderRadius;
                background: none;
                font-size: $subtitleSize;
            }

            button {
                height: 50px;
                width: 50px;
                border-radius: $borderRadius;
                background-color: $blue;
                border: 2px solid $blue;
                cursor: pointer;
                color: white;
                @include flex(row, center, center);
                transition: all 0.15s ease-in-out;

                i {
                    font-size: $iconSize;
                    transition: all 0.15s ease-in-out;

                }

                &:hover {
                    border: 2px solid $blue;
                    background-color: white;
                    color: $blue;

                    i {
                        scale: 1.5;
                        $color: $blue;
                    }
                }
            }
        }
    }

    .list {
        @include flex(column, center, center);
        gap: $gap;

        #provider-user {
            @include flex(row, space-between, center);
            // @include grid(4);
            align-items: center;
            width: fit-content;
            gap: calc($gap + 40px);
            border-radius: $borderRadius;
            padding: $padding;
            background-color: $backgroundColor;

            .avatar-name {
                @include flex(row, center, center);
                gap: calc($gap + 10px);
// NU LUCREAZA hover
                #avatar {
                    width: 50px;
                    height: 50px;
                    border: 1px solid $blue;
                    border-radius: 100%;
                    overflow: hidden;
                    &:hover {
                        img {
                            transform: scale(1.1);
                        }
                    }

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        transition: transform 0.15s ease-in;
                    }
                }


                h2 {
                    font-size: calc($text + 8px);
                }
            }

            h3 {
                font-size: calc($text + 6px);
                font-weight: 500;
            }

            p {
                font-size: calc($text + 6px);
            }

            .action-buttons {
                @include flex(row, center, center);
                gap: calc($gap + 10px);

                a {
                    text-decoration: none;
                    color: $blue;

                    i {
                        font-size: $iconSize;
                        cursor: pointer;
                    }
                }

                button {
                    height: 40px;
                    width: 40px;
                    border-radius: $borderRadius;
                    background-color: white;
                    border: none;
                    cursor: pointer;
                    color: $blue;
                    @include flex(row, center, center);
                    transition: all 0.15s ease-in-out;
                    border: 2px solid $blue;

                    i {
                        font-size: $iconSize;
                    }

                    // &:hover {
                    //     border: 2px solid $blue;
                    //     background-color: white;
                    //     color: $blue;
                    // }
                }
            }

            .mail {
                @include flex(row, center, center);
                gap: calc($gap - 4px);
            }

            .phone {
                @include flex(row, center, center);
                gap: calc($gap - 4px);
            }
        }
    }

    // pop-up georgeXdev start
    #pop-up {
        @include flex(row, center, center);
        width: 800px;
        height: fit-content;
        background-color: $backgroundColor;
        padding: calc($padding + 15px);
        border-radius: $borderRadius;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        #popup-content {
            @include flex(row, center, center);

            img {
                border-radius: $borderRadius;

            }
        }
    }
}









// // create.html start m
#main-create {
    @include flex(column, center, center);
    gap: $gap;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    h1 {
        font-size: $titleSize;
    }

    #form-create {
        @include flex(column, center, center);
        gap: calc($gap * 2);
        width: max-content;
        padding: calc($padding * 2);
        border-radius: $borderRadius;
        box-shadow: 0 5px 15px 0 hsla(0, 0%, 0%, 0.10);

        #create-name-lastname {
            @include flex(row, flex-start, flex-start);
            width: 500px;
            gap: $gap;
        }

        .label-create {
            @include flex(column, flex-start, flex-start);
            gap: $gap;

            p {
                font-size: calc($subtitleSize + 0.5rem);
                padding: 0 $padding;
                font-weight: 500;
            }

            input {
                padding: 0 $padding;
                outline: none;
                border: none;
                border-bottom: 1px solid $backgroundColor;
                min-width: 500px;
                height: 40px;
                font-size: $subtitleSize;
                background: white;
                transition: 0.3s ease-in-out;
            }

            input:focus {
                border-bottom: 1px solid $blue;
            }

            select {
                border: none;
                border-bottom: 1px solid $backgroundColor;
                padding: $padding;
                outline: none;
                min-width: 500px;
                height: 40px;
                font-size: $subtitleSize;
                background: white;

                option {
                    font-size: $subtitleSize;
                    padding: $padding;
                }
            }
        }

        .label-create-image {
            width: 100%;
            padding: $padding;
            @include flex(row, space-between, flex-start);

            p {
                font-size: calc($subtitleSize + 0.5rem);
                font-weight: 500;
            }
        }

        button {
            padding: $padding;
            min-width: 500px;
            height: 50px;
            font-size: calc($subtitleSize + 0.5rem);
            border-radius: $borderRadius;
            background-color: $blue;
            border: none;
            font-weight: bold;
            color: $backgroundColor;
            box-shadow: 0 5px 15px 0 hsla(0, 0%, 0%, 0.10);
            cursor: pointer;
        }
    }
}


// // create.html end m


// // pop-up view provider 

// #pop-up {
//     @include flex(column, space-between, center);
//     position: absolute;
//     top: 40%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 1000px;
//     height: 550px;
//     background: $backgroundColor;
//     padding: calc($padding + 10px);
//     border-radius: $borderRadius;
//     box-shadow: $cardShadow;
//     border: 1px solid #e9e9e9;

//     button {
//         position: relative;
//         left: 95%;
//         border: 2px solid $blue;
//         background: none;
//         color: $blue;
//         outline: none;
//         padding: 6px 9px;
//         width: fit-content;
//         height: fit-content;
//         font-size: $iconSize;
//         border-radius: 200px;
//         cursor: pointer;
//         i {
//             font-size: 18px;
//         }

//         &:hover {
//             background-color: $blue;

//             i {
//                 color: white;
//             }
//         }
//     }

//     #popup-content {
//         @include flex(row, space-between, flex-start);
//         margin-top: 30px;
//         margin-bottom: 10px;

//         h2 {
//             font-size: calc($titleSize + 10px);
//         }


//         #text-content {
//             @include flex(column, space-between, flex-start);
//             gap: $gap;
//             a {
//                 text-decoration: none;
//                 font-size: calc($text + 6px);
//             }

//             h3 {
//                 margin-top: 20px;
//                 font-size: $subtitleSize;
//             }

//             p {
//                 margin-top: 20px;
//                 font-size: $subtitleSize;
//             }
//         }

//         #details {
//             @include flex(row, space-between, center);

//             img {
//                 border-radius: $borderRadius;
//             }
//         }
//     }
// }


// // read.html furnizor-users start

// #main-account {
//     width: 100vw;
//     overflow-x: hidden;

//     #all-inclusive {
//         width: 80%;
//         margin: 50px auto;
//         box-shadow: $cardShadow;
//         border-radius: $borderRadius;
//         padding: calc($padding * 4) calc($padding * 3);

//         #m-data {
//             width: 460px;

//             #m-data-avatar {
//                 @include flex(column, center, center);

//                 h2 {
//                     font-size: $titleSize;
//                     padding: calc($padding * 2) $padding;
//                 }
//             }

//             #update-delete {
//                 @include flex(column, center, center);
//                 gap: calc($gap * 2);
//                 padding: $padding;

//                 button {
//                     @include flex(row, center, center);
//                     gap: $gap;
//                     font-size: calc($text + 6px);
//                     font-weight: 600;
//                     padding: 6px 22px;
//                     border-radius: calc($borderRadius - 6px);
//                     background-color: $blue;
//                     color: white;
//                     outline: none;
//                     border: none;
//                     cursor: pointer;

//                     i {
//                         font-size: $subtitleSize;
//                     }
//                 }

//                 #edit-anim-form {
//                     @include flex(column, center, center);
//                     gap: calc($gap + 10px);
//                     padding: calc($padding * 2);
//                     box-shadow: $cardShadow;
//                     border-radius: $borderRadius;

//                     .edit-label-form {
//                         @include flex(column, flex-start, flex-start);
//                         gap: $gap;
//                         margin: 15px 0;
//                         width: 100%;
//                         font-size: calc($text + 2px);

//                         p {
//                             font-size: calc($subtitleSize + 2px);
//                             padding: 0 $padding;
//                             font-weight: 400;
//                         }

//                         input {
//                             padding: 0 $padding;
//                             outline: none;
//                             border: none;
//                             border-bottom: 1px solid $backgroundColor;
//                             width: 100%;
//                             height: 35px;
//                             font-size: $subtitleSize;
//                             background: white;
//                             transition: 0.3s ease-in-out;
//                         }

//                         input:focus {
//                             border-bottom: 1px solid $blue;
//                         }
//                     }

//                     #profile-action {
//                         width: 100%;
//                         @include flex(column, flex-start, flex-start);
//                         gap: calc($gap * 2);

//                         #delete {
//                             @include flex(row, center, center);
//                             gap: $gap;
//                             background: none;
//                             width: 190px;
//                             border: 1px solid red;
//                             color: red;

//                             i {
//                                 font-size: calc($text + 6px);
//                             }
//                         }

//                         #quick-actions {
//                             width: 100%;
//                             @include flex(row, space-between, center);
//                             gap: $gap;

//                             button {
//                                 width: 190px;
//                             }

//                             #cancel {
//                                 background-color: rgb(179, 179, 179);
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// // read.html furnizor-users end