@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

.assets {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.assets i {
  font-size: 1.25rem;
}
.assets .input,
.assets .image-input,
.assets .button {
  padding: 10px;
  background-color: #f1f4ff;
  border: 1px solid #f1f4ff;
  outline: none;
  transition: border-color 0.15s ease-in;
  border-radius: 10px;
  font-size: 1.25rem;
  min-width: 250px;
}
.assets .input:focus,
.assets .image-input:focus,
.assets .button:focus {
  border: 1px solid #0437F2;
}
.assets .input input,
.assets .image-input input,
.assets .button input {
  display: none;
}
.assets .image-input {
  transition: box-shadow 0.15s ease-in;
}
.assets .image-input:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #0437F2;
}
.assets .image-input label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.25rem;
  cursor: pointer;
}
.assets .row-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #f1f4ff;
}
.assets .row-box p {
  font-size: 1.25rem;
}
.assets .avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #0437F2;
  overflow: hidden;
}
.assets .avatar:hover img {
  transform: scale(1.1);
}
.assets .avatar img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.15s ease-in;
}
.assets .button {
  background-color: #0437F2;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  border: 1px solid #0437F2;
  transition: all 0.15s ease-in;
}
.assets .button:hover {
  background-color: white;
  color: #0437F2;
}

main {
  height: 100vh;
  width: 100vw;
}
main .search-load {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main .search-load h1 {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
}
main .search-load form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f1f4ff;
  padding: 10px;
  border-radius: 10px;
}
main .search-load form .form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f1f4ff;
  gap: 10px;
}
main .search-load form .form-group i {
  font-size: 1.5rem;
  color: #0437F2;
}
main .search-load form .form-group input {
  border: none;
  outline: none;
  min-width: 500px;
  font-size: 1rem;
  border-radius: 10px;
  background: none;
  font-size: 1.5rem;
}
main .search-load form button {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  background-color: #0437F2;
  border: none;
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .search-load form button i {
  font-size: 1.25rem;
}/*# sourceMappingURL=styles.css.map */