@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

.assets {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.assets i {
  font-size: 1.25rem;
}
.assets .input,
.assets .image-input,
.assets .button {
  padding: 10px;
  background-color: #f1f4ff;
  border: 1px solid #f1f4ff;
  outline: none;
  transition: border-color 0.15s ease-in;
  border-radius: 10px;
  font-size: 1.25rem;
  min-width: 250px;
}
.assets .input:focus,
.assets .image-input:focus,
.assets .button:focus {
  border: 1px solid #0437f2;
}
.assets .input input,
.assets .image-input input,
.assets .button input {
  display: none;
}
.assets .image-input {
  transition: box-shadow 0.15s ease-in;
}
.assets .image-input:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #0437f2;
}
.assets .image-input label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.25rem;
  cursor: pointer;
}
.assets .row-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #f1f4ff;
}
.assets .row-box p {
  font-size: 1.25rem;
}
.assets .avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #0437f2;
  overflow: hidden;
}
.assets .avatar:hover img {
  transform: scale(1.1);
}
.assets .avatar img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.15s ease-in;
}
.assets .button {
  background-color: #0437f2;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  border: 1px solid #0437f2;
  transition: all 0.15s ease-in;
}
.assets .button:hover {
  background-color: white;
  color: #0437f2;
}

i {
  font-size: 1.25rem;
}

#mainn {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainn .register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 600px;
  gap: 10px;
}
#mainn .register h1 {
  font-size: 2.5rem;
}
#mainn .register .registerInp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#mainn .register .registerInp .form-group {
  display: flex;
}
#mainn .register .registerInp .form-group input::-webkit-outer-spin-button,
#mainn .register .registerInp .form-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#mainn .register .registerInp .form-group input {
  padding: 10px;
  background-color: #f1f4ff;
  border: 1px solid #f1f4ff;
  outline: none;
  transition: border-color 0.15s ease-in;
  border-radius: 10px;
  font-size: 1.25rem;
  min-width: 250px;
}
#mainn .register .registerInp .form-group input:focus {
  border: 1px solid #0437f2;
}
#mainn .register .registerInp .image-input {
  transition: box-shadow 0.15s ease-in;
  padding: 10px;
  background-color: #f1f4ff;
  border: 1px solid #f1f4ff;
  outline: none;
  transition: border-color 0.15s ease-in;
  border-radius: 10px;
  min-width: 250px;
}
#mainn .register .registerInp .image-input input {
  display: none;
}
#mainn .register .registerInp .image-input:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #0437f2;
}
#mainn .register .registerInp .image-input label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.25rem;
  cursor: pointer;
}
#mainn .register .registerInp .createAcc {
  background-color: #0437f2;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  border: 1px solid #0437f2;
  transition: all 0.15s ease-in;
  padding: 10px;
  border: 1px solid #0437f2;
  outline: none;
  border-radius: 10px;
  margin-top: 10px;
}
#mainn .register .registerInp .createAcc:hover {
  background-color: white;
  color: #0437f2;
}
#mainn .register .oldUser {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}
#mainn .register .oldUser a {
  color: #0437f2;
  text-decoration: none;
}

#login-container {
  height: 100vh;
  width: 100vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#login-container h1 {
  font-size: 2.5rem;
  padding: 10px;
}
#login-container .form-group input {
  padding: 10px;
  background-color: #f1f4ff;
  border: 1px solid #f1f4ff;
  outline: none;
  transition: border-color 0.15s ease-in;
  border-radius: 10px;
  font-size: 1.25rem;
  min-width: 250px;
}
#login-container .form-group input:focus {
  border: 1px solid #0437f2;
}
#login-container #login-button {
  padding: 10px;
  background-color: #f1f4ff;
  border: 1px solid #f1f4ff;
  outline: none;
  transition: border-color 0.15s ease-in;
  border-radius: 10px;
  font-size: 1.25rem;
  min-width: 250px;
  background-color: #0437f2;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  border: 1px solid #0437f2;
  transition: all 0.15s ease-in;
}
#login-container #login-button:focus {
  border: 1px solid #0437f2;
}
#login-container #login-button:hover {
  background-color: white;
  color: #0437f2;
}
#login-container .dont-have-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login-container .dont-have-account a {
  color: #0437f2;
  text-decoration: none;
}

#profile-edit-mainest-main-parent-of-main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#profile-edit-mainest-main-parent-of-main #profile-edit-main {
  height: 600px;
  width: 1000px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  box-shadow: 0 0 5px rgb(111, 111, 111);
  border-radius: 10px;
}
#profile-edit-mainest-main-parent-of-main #profile-edit-main .profile-edit-left {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-right: 1px solid rgb(111, 111, 111);
}
#profile-edit-mainest-main-parent-of-main #profile-edit-main .profile-edit-left img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid #0437f2;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.15s ease-in;
}
#profile-edit-mainest-main-parent-of-main #profile-edit-main .profile-edit-left h1 {
  font-size: 2.5rem;
  color: black;
}
#profile-edit-mainest-main-parent-of-main #profile-edit-main .profile-edit-left p {
  font-size: 1.5rem;
  color: rgb(111, 111, 111);
}
#profile-edit-mainest-main-parent-of-main #profile-edit-main .profile-edit-right {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#profile-edit-mainest-main-parent-of-main #profile-edit-main .profile-edit-right h1 {
  font-size: 2.5rem;
}
#profile-edit-mainest-main-parent-of-main #profile-edit-main .profile-edit-right form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#profile-edit-mainest-main-parent-of-main #profile-edit-main .profile-edit-right form .other-info-edit {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#profile-edit-mainest-main-parent-of-main #profile-edit-main .profile-edit-right form .other-info-edit div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profile-edit-mainest-main-parent-of-main #profile-edit-main .profile-edit-right form .other-info-edit div input::-webkit-outer-spin-button,
#profile-edit-mainest-main-parent-of-main #profile-edit-main .profile-edit-right form .other-info-edit div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#profile-edit-mainest-main-parent-of-main #profile-edit-main .profile-edit-right form .other-info-edit div input {
  padding: 10px;
  background-color: #f1f4ff;
  border: 1px solid #f1f4ff;
  outline: none;
  transition: border-color 0.15s ease-in;
  border-radius: 10px;
  font-size: 1.25rem;
  min-width: 250px;
}
#profile-edit-mainest-main-parent-of-main #profile-edit-main .profile-edit-right form .other-info-edit div input:focus {
  border: 1px solid #0437f2;
}
#profile-edit-mainest-main-parent-of-main #profile-edit-main .profile-edit-right form .other-info-edit div label {
  font-size: 1.25rem;
}
#profile-edit-mainest-main-parent-of-main #profile-edit-main .profile-edit-right form #profile-edit-button {
  background-color: #0437f2;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  border: 1px solid #0437f2;
  transition: all 0.15s ease-in;
  padding: 10px;
  border: 1px solid #0437f2;
  outline: none;
  border-radius: 10px;
  margin-top: 10px;
}
#profile-edit-mainest-main-parent-of-main #profile-edit-main .profile-edit-right form #profile-edit-button:hover {
  background-color: white;
  color: #0437f2;
}/*# sourceMappingURL=style.css.map */