@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid($columnsNumber) {
    display: grid;
    grid-template-columns: repeat($columnsNumber, 1fr);
}

$blue: #0437f2; // Accent color
$textColor: black;
$textColor2: rgb(111, 111, 111);
$backgroundColor: #f1f4ff;
$padding: 10px;
$borderRadius: 10px;
$gap: 10px;
$titleSize: 2.5rem;
$subtitleSize: 1.5rem;
$text: 1rem;
$smallText: 0.8rem;
$iconSize: 1.25rem;
$inputTextSize: 1.25rem;
$minWidth: 250px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}

.assets {
    padding: $padding;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;

    i {
        font-size: $iconSize;
    }

    .input,
    .image-input,
    .button {
        padding: $padding;
        background-color: $backgroundColor;
        border: 1px solid $backgroundColor;
        outline: none;
        transition: border-color 0.15s ease-in;
        border-radius: $borderRadius;
        font-size: $inputTextSize;
        min-width: $minWidth;

        &:focus {
            border: 1px solid $blue;
        }

        input {
            display: none;
        }
    }

    .image-input {
        transition: box-shadow 0.15s ease-in;

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 5px $blue;
        }

        label {
            @include flex(row, center, center);
            gap: $gap;
            font-size: $inputTextSize;
            cursor: pointer;
        }
    }

    .row-box {
        @include grid(3);
        gap: $gap;
        border-radius: $borderRadius;
        padding: $padding;
        background-color: $backgroundColor;

        p {
            font-size: 1.25rem;
        }
    }

    .avatar {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 1px solid $blue;
        overflow: hidden;

        &:hover {
            img {
                transform: scale(1.1);
            }
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: transform 0.15s ease-in;
        }
    }

    .button {
        background-color: $blue;
        color: white;
        @include flex(row, center, center);
        gap: $gap;
        font-size: $inputTextSize;
        cursor: pointer;
        border: 1px solid $blue;
        transition: all 0.15s ease-in;

        &:hover {
            background-color: white;
            color: $blue;
        }
    }
}

#mainn {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .register {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 400px;
        width: 600px;
        gap: $gap;
        h1 {
            font-size: $titleSize;
        }
        .registerInp {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $gap;

            .form-group {
                display: flex;
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                input {
                    padding: $padding;
                    background-color: $backgroundColor;
                    border: 1px solid $backgroundColor;
                    outline: none;
                    transition: border-color 0.15s ease-in;
                    border-radius: $borderRadius;
                    font-size: $inputTextSize;
                    min-width: $minWidth;
                    &:focus {
                        border: 1px solid $blue;
                    }
                }
            }
            .image-input {
                transition: box-shadow 0.15s ease-in;
                padding: $padding;
                background-color: $backgroundColor;
                border: 1px solid $backgroundColor;
                outline: none;
                transition: border-color 0.15s ease-in;
                border-radius: $borderRadius;
                font-size: $inputTextSize;
                min-width: $minWidth;
                input {
                    display: none;
                }

                &:hover {
                    cursor: pointer;
                    box-shadow: 0 0 5px $blue;
                }

                label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: $gap;
                    font-size: $inputTextSize;
                    cursor: pointer;
                }
            }
            .createAcc {
                background-color: $blue;
                color: white;
                @include flex(row, center, center);
                gap: $gap;
                font-size: $inputTextSize;
                cursor: pointer;
                border: 1px solid $blue;
                transition: all 0.15s ease-in;
                padding: $padding;
                border: 1px solid $blue;
                outline: none;
                border-radius: $borderRadius;
                margin-top: $gap;

                &:hover {
                    background-color: white;
                    color: $blue;
                }
            }
        }
        .oldUser {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: $gap;
        }
    }
}
