@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid($columnsNumber) {
    display: grid;
    grid-template-columns: repeat($columnsNumber, 1fr);
}

$blue: #0437F2; // Accent color
$textColor: black;
$textColor2: rgb(111, 111, 111);
$backgroundColor: #f1f4ff;
$padding: 10px;
$borderRadius: 10px;
$gap: 10px;
$titleSize: 2.5rem;
$subtitleSize: 1.5rem;
$text: 1rem;
$smallText: 0.8rem;
$iconSize: 1.25rem;
$inputTextSize: 1.25rem;
$minWidth: 250px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}

main {
    height: 100vh;
    width: 100vw;

    .search-load {
        padding: $padding;
        height: 100%;
        width: 100%;
        @include flex(column, center, center);
        gap: $gap;

        h1 {
            width: 100%;
            font-size: $titleSize;
            text-align: center
        }

        form {
            @include flex(row, center, center);
            background-color: $backgroundColor;
            padding: $padding;
            border-radius: $borderRadius;

            .form-group {
                @include flex(row, center, center);
                background-color: $backgroundColor;
                gap: $gap;

                i {
                    font-size: $subtitleSize;
                    color: $blue;
                }

                input {
                    border: none;
                    outline: none;
                    min-width: 500px;
                    font-size: $text;
                    border-radius: $borderRadius;
                    background: none;
                    font-size: $subtitleSize;
                }
            }

            button {
                height: 50px;
                width: 50px;
                border-radius: $borderRadius;
                background-color: $blue;
                border: none;
                cursor: pointer;
                color: white;
                @include flex(row, center, center);
                
                i {
                    font-size: $iconSize;
                }
            }
        }
    }
}

#see-products{
    height: 100vh;
    width: 100vw;
    background-color: $backgroundColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    #products{
        width: 1400px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            color: black;
            font-size: $titleSize;
        }


        form {
            width: 100%;
            height: 260px;
            background-color: #eeeef0;
            border: 1px solid #3498db;
            padding: $padding;

            #form_1 {
                width: 1368px;
                height: 58px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                #form_11 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    label {
                        font-size: $subtitleSize;
                        color: black;
                    }

                    select {
                        width: 680px;
                        height: 40px;
                    }
                }

                #form_12 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    label {
                        font-size: $subtitleSize;
                        color: black;
                    }

                    select {
                        width: 680px;
                        height: 40px;
                    }
                }
            }

            #form_2 {
                width: 1368px;
                height: 58px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                #form_21 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    label {
                        font-size: $subtitleSize;
                        color: black;
                    }

                    input {
                        width: 336px;
                        height: 40px;
                    }
                }

                #form_22 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    label {
                        font-size: $subtitleSize;
                        color: black;
                    }

                    input {
                        width: 336px;
                        height: 40px;
                    }
                }

                #form_23 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    label {
                        font-size: $subtitleSize;
                        color: black;
                    }

                    input {
                        width: 336px;
                        height: 40px;
                    }
                }

                #form_24 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    label {
                        font-size: $subtitleSize;
                        color: black;
                    }

                    input {
                        width: 336px;
                        height: 40px;
                    }
                }
            }

            #form_3 {
                width: 1368px;
                height: 58px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                #form_31 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    label {
                        font-size: $subtitleSize;
                        color: black;
                    }

                    select {
                        width: 680px;
                        height: 40px;
                    }
                }

                #form_32 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    label {
                        font-size: $subtitleSize;
                        color: black;
                    }

                    input {
                        width: 680px;
                        height: 40px;
                    }
                }


            }

            #butoane {
                width: 1368px;
                height: 58px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                #btn_1 {
                    width: 336px;
                    height: 40px;
                    background-color: #93D292;
                }

                #btn_2 {
                    width: 336px;
                    height: 40px;
                    background-color: #ECCF73;
                }

                #btn_3 {
                    width: 680px;
                    height: 40px;
                    background-color: #BBC8D4;
                }
            }
        }
    }
}

.adauga-marfa{
    height: 100vh;
    width: 100vw;
    

    h1{
        font-size: $titleSize;
        margin-bottom: calc($gap * 3);
    }
    
    form{
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        gap: $gap;
        height: 95vh;
        width: 80vw;
        margin: auto;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
        border-radius: $borderRadius;
        box-shadow: 0 0 5px $blue;
        padding: $padding;

        .up-div{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: inherit;
            height: 35vh;
            margin-bottom: calc($gap * 3);

            .incarcare-div, .descarcare-div, .truck-type-div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: $gap;


                 .tara-incarcare-div, .oras-incarcare-div{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    gap:$gap;
                }

                .tara-descarcare-div, .oras-descarcare-div, .tip-camion, .tip-incarcare, .tip-transport{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    gap:$gap;
                }

                 select {
                    width: 350px;
                    padding: $padding;
                    background-color: $backgroundColor;
                    border: 1px solid $backgroundColor;
                    outline: none;
                    transition: border-color 0.15s ease-in;
                    border-radius: $borderRadius;
                    font-size: $inputTextSize;

                    option {
                        color: $textColor2;
                        font-size: $inputTextSize;
                        background-color: $backgroundColor;
                    }

                    &:focus {
                        border: 1px solid $blue;
                    }
                    
                }

                 label {
                    display: flex;
                    font-size: $inputTextSize;
                    
                }

                 input {
                    width: 350px;
                    border-radius: $borderRadius;
                    padding: $padding;
                    font-size:  $inputTextSize;
                    background-color: $backgroundColor;
                    margin-top: $gap;
                    outline: none;
                    border: rgba(255, 255, 255, 0);
                }
                
            }
        }
         .middle-div{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: inherit;
            height: 35vh;
            margin-bottom: calc($gap * 3);

            .second_middle_div{
                display: flex;
                justify-content: space-around;
                width: inherit;

                .greutate, .volumul-marfii, .natura-marfii{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    gap: $gap;
                }
            }

            .second2_middle_div{
                display: flex;
                width: inherit;
                justify-content: space-between;
                padding: 0 55px;
                
                .comentarii{
                    display: flex;
                    width: 70%;
                    flex-direction: column;
                    width: inherit;
                    justify-content: start;
                    align-items: start;
                    margin-top: calc($gap * 3 );
                    gap: $gap;

                    textarea{
                        width: 800px;
                        height: 100px;
                        border-radius: $borderRadius;
                        padding: $padding;
                        font-size:  $inputTextSize;
                        background-color: $backgroundColor;
                        outline: none;
                        resize: none;
                        border: rgba(255, 255, 255, 0);
                        transition: border-color 0.15s ease-in;

                        &:focus {
                            border: 1px solid $blue;
                        }
                    }
                }

                .price-div{
                    display: flex;
                    width: 30%;
                    width: inherit;
                    justify-content: end;
                    align-items: end;
                    margin-top: $gap;

                    .price_div_div{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: end;

                        #price{
                            width: 250px;
                            height: 39px;
                            border-radius:    $borderRadius 0px 0px $borderRadius ;
                            padding: $padding;
                            font-size:  $inputTextSize;
                            background-color: $backgroundColor;
                            outline: none;
                            border: rgba(255, 255, 255, 0);
                            transition: border-color 0.15s ease-in;

                            &:focus {
                                border: 1px solid $blue;
                            }
                        }

                    }
                    #valuta{
                        width: 100px;
                        height: 39px ;
                        border-radius:  0px  $borderRadius   $borderRadius 0px;
                        padding: $padding;
                        font-size:  $inputTextSize;
                        background-color: $backgroundColor;
                        outline: none;
                        border: rgba(255, 255, 255, 0);
                        transition: border-color 0.15s ease-in;

                        &:focus {
                            border: 1px solid $blue;
                        }

                        option {
                            color: $textColor2;
                            font-size: $inputTextSize;
                            background-color: $backgroundColor;
                        }
                    }
                }
            }

            

            label {
                font-size: $inputTextSize;
                
            }

             input {
                width: 350px;
                border-radius: $borderRadius;
                padding: $padding;
                font-size:  $inputTextSize;
                background-color: $backgroundColor;
                outline: none;
                border: rgba(255, 255, 255, 0);
                transition: border-color 0.15s ease-in;

                &:focus {
                    border: 1px solid $blue;
                }
            }

            
        }

        button {
            background-color: $blue;
            color: white;
            gap: $gap;
            font-size: $inputTextSize;
            cursor: pointer;
            border: 1px solid $blue;
            transition: all 0.15s ease-in;
            width: $minWidth;
            border-radius: $borderRadius;
            width: $minWidth;
            height: 50px;
            @include flex(row, center, center);

            &:hover {
                background-color: white;
                color: $blue;
            }
        }
    }
}