@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

$blue: #0437F2; // Accent color
$textColor: black;
$textColor2: rgb(111, 111, 111);
$backgroundColor: #f1f4ff;
$padding: 10px;
$borderRadius: 10px;
$gap: 10px;
$titleSize: 2.5rem;
$subtitleSize: 1.5rem;
$text: 1rem;
$smallText: 0.8rem;
$iconSize: 1.25rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}

main {
    height: 100vh;
    width: 100vw;

    .search-load {
        padding: $padding;
        height: 100%;
        width: 100%;
        @include flex(column, center, center);
        gap: $gap;

        h1 {
            width: 100%;
            font-size: $titleSize;
            text-align: center
        }

        form {
            @include flex(row, center, center);
            background-color: $backgroundColor;
            padding: $padding;
            border-radius: $borderRadius;

            .form-group {
                @include flex(row, center, center);
                background-color: $backgroundColor;
                gap: $gap;

                i {
                    font-size: $subtitleSize;
                    color: $blue;
                }

                input {
                    border: none;
                    outline: none;
                    min-width: 500px;
                    font-size: $text;
                    border-radius: $borderRadius;
                    background: none;
                    font-size: $subtitleSize;
                }
            }

            button {
                height: 50px;
                width: 50px;
                border-radius: $borderRadius;
                background-color: $blue;
                border: none;
                cursor: pointer;
                color: white;
                @include flex(row, center, center);
                
                i {
                    font-size: $iconSize;
                }
            }
        }
    }
}

<<<<<<< HEAD
#see-products{
    height: 100vh;
    width: 100vw;
    background-color: $backgroundColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    #products{
        width: 1400px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            color: black;
            font-size: $titleSize;
        }


        form {
            width: 100%;
            height: 260px;
            background-color: #eeeef0;
            border: 1px solid #3498db;
            padding: $padding;

            #form_1 {
                width: 1368px;
                height: 58px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                #form_11 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    label {
                        font-size: $subtitleSize;
                        color: black;
                    }

                    select {
                        width: 680px;
                        height: 40px;
                    }
                }

                #form_12 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    label {
                        font-size: $subtitleSize;
                        color: black;
                    }

                    select {
                        width: 680px;
                        height: 40px;
                    }
                }
            }

            #form_2 {
                width: 1368px;
                height: 58px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                #form_21 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    label {
                        font-size: $subtitleSize;
                        color: black;
                    }

                    input {
                        width: 336px;
                        height: 40px;
                    }
                }

                #form_22 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    label {
                        font-size: $subtitleSize;
                        color: black;
                    }

                    input {
                        width: 336px;
                        height: 40px;
                    }
                }

                #form_23 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    label {
                        font-size: $subtitleSize;
                        color: black;
                    }

                    input {
                        width: 336px;
                        height: 40px;
                    }
                }

                #form_24 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    label {
                        font-size: $subtitleSize;
                        color: black;
                    }

                    input {
                        width: 336px;
                        height: 40px;
                    }
                }
            }

            #form_3 {
                width: 1368px;
                height: 58px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                #form_31 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    label {
                        font-size: $subtitleSize;
                        color: black;
                    }

                    select {
                        width: 680px;
                        height: 40px;
                    }
                }

                #form_32 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    label {
                        font-size: $subtitleSize;
                        color: black;
                    }

                    input {
                        width: 680px;
                        height: 40px;
                    }
                }


            }

            #butoane {
                width: 1368px;
                height: 58px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                #btn_1 {
                    width: 336px;
                    height: 40px;
                    background-color: #93D292;
                }

                #btn_2 {
                    width: 336px;
                    height: 40px;
                    background-color: #ECCF73;
                }

                #btn_3 {
                    width: 680px;
                    height: 40px;
                    background-color: #BBC8D4;
                }
            }
=======
.adauga-marfa{
    height: 100vh;
    width: 100vw;
    
    form{
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        gap: $gap;
        height: 90vh;
        width: 80vw;
        margin: auto;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
        background-color: aqua;

        .up-div{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: inherit;
            background-color: aquamarine;
            height: 35vh;

            .incarcare-div, .descarcare-div, .truck-type-div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: $gap;


                .tara-incarcare-div, .oras-incarcare-div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                .tara-descarcare-div, .oras-descarcare-div, .tip-camion, .tip-incarcare, .tip-transport{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                 select {
                    width: 250px;
                    height: 30px;
                    border-radius: $borderRadius;
                    
                }
                input {
                    width: 250px;
                    height: 30px;
                    border-radius: $borderRadius;
                }
                
            }
        }
        .middle-div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: inherit;
            background-color: red;
            height: 35vh;
        }
        .bottom-div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: inherit;
            background-color: seagreen;
            height: 25vh;
>>>>>>> cf9edc554024e20b19fe214ddb77066b86bbb9b6
        }
    }
}